<div class="row mb-5">
    <div class="col-12">
        <h4>Formato da Sacada</h4>
    </div>
    <p-dataView #dv [value]="options">
        <ng-template let-option pTemplate="listItem">
            <div
                (click)="select(option.code)"
                class="col-12 cursor-pointer"
                [style]="
                    selected === option.code ? 'background-color: #a3d4fb' : ''
                "
            >
                <div
                    class="flex flex-column md:flex-row md:align-items-start p-4 gap-4"
                >
                    <p-image
                        *ngIf="option.image !== ''"
                        class="w-4 sm:w-15rem md:w-10rem shadow-2 block md:block mx-auto border-round"
                        imageClass=" object-fit-cover w-full shadow-2 block mx-auto border-round"
                        [src]="option.image"
                        width="200"
                        [preview]="true"
                    >
                    </p-image>
                    <div
                        class="flex flex-column h-full sm:flex-row justify-content-between align-items-center flex-1 gap-4"
                    >
                        <div
                            class="text-xl sm:text-2xl font-bold text-900 h-full"
                        >
                            {{ option.name }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <div class="row mt-5">
        <p>
            <strong>Dica:</strong> Distâncias maiores que 7cm entre o
            guardacorpo e viga precisam ser avaliados detalhadamente.
        </p>
    </div>
</div>

<app-navigation-tabs-btn
    (nextTab)="nextTab()"
    (prevTab)="prevTab()"
></app-navigation-tabs-btn>
<p-toast position="bottom-center" life="4000" key="tst"></p-toast>
