<h4>Trilhos inferiores</h4>


<div *ngIf="pedidoService.pedido?.balcony?.tip?.better_adjustment === true" class="flex justify-content-end text-2xl">

</div>

<div *ngIf="pedidoService.pedido?.balcony?.tip?.better_adjustment === false" class="flex justify-content-end text-2xl">
    Vidros restantes:
    <span class="ml-2 font-bold">{{ vidrosRestantes }}</span>
</div>

<div class="grid m-0 mt-4 md:mt-4 md:mx-4 border-y-1">
    <div class="col-3 p-1 text-center border-x-1">Peça</div>
    <div class="col-3 p-1 text-center border-right-1">Ângulo</div>
    <div class="col-3 p-1 text-center border-right-1">Dimensão (mm)</div>
    <div class="col-3 p-1 text-center border-right-1 bg-green-300">
        Qtd. Vidro
    </div>
</div>

<div class="grid m-0 md:mx-4 border-bottom-1" *ngFor="let linha of linhas; let i = index">
    <div class="col-3 p-1 text-center border-x-1">{{ linha.piece }}</div>
    <div class="col-3 p-1 text-center border-right-1">
        <input [(ngModel)]="linha.angle"
            (click)="selectText($event)"
            class="text-center"
             (ngModelChange)="salvarDimensoes(); atualizarVidrosRestantes()"
            [selectAllOnFocus]="true">

    </div>

    <div class="col-3 p-1 text-center border-right-1">
        <input [(ngModel)]="linha.dimension"
            (click)="selectText($event)"
            class="text-center"
            (ngModelChange)="salvarDimensoes(); atualizarVidrosRestantes(); verificarAtualizarQuantidadeDeVidro(linha)">
    </div>
    <div class="col-3 p-1 text-center border-right-1 bg-green-200">
        <input [(ngModel)]="linha.quantity" class="bg-green-200 text-center"
        (click)="selectText($event)"
            (ngModelChange)="salvarDimensoes(); atualizarVidrosRestantes()">
    </div>
</div>

<div class="grid m-0 md:mx-4 mb-5">
    <div class="col-3 p-1 text-center">&nbsp;</div>
    <div class="col-3 p-1 text-center border-bottom-1 border-x-1">
        <input [(ngModel)]="total"
        (click)="selectText($event)"
        class="text-center"
            style="border: none; outline: none"  (input)="updatePedido($event.target.value)"
            >
    </div>
    <div class="flex flex-end ml-2">
        <span class="sm:text-sm md:text-lg">*campo referente ao último grau da parede à direita</span>
    </div>
    <div class="col-3 p-1 text-center">&nbsp;</div>
    <div class="col-3 p-1 text-center">&nbsp;</div>
</div>


<div class="flex flex-column align-items-center mt-5 justify-content-center text-xl font-light text-gray-800">
    <p class="text-center">Ângulos em decimal, exemplo: 12,5</p>
    <p class="text-center">Quantidade de vidros em inteiros, exemplo: 4</p>
    <p class="text-center">Dimensão em milimetros, exemplo: 20mm</p>
</div>

<app-navigation-tabs-btn (nextTab)="_nextTab()" (prevTab)="_prevTab()"></app-navigation-tabs-btn>
<p-toast position="bottom-center" life="4000" key="tst"></p-toast>
