<!-- Div de botões -->
<div class="flex justify-content-between ">
    <!-- Botão novo pedido -->
    <button pButton pRipple label="Novo Pedido" icon="pi pi-plus" class="mb-3" routerLink="/app/pedidos/novo">
    </button>

    <!-- Botão de imprimir -->
    <button pButton pRipple icon="pi pi-print" class="mb-3 p-button-rounded" (click)="downloadAsPdf()"
        [disabled]="!pedido">
    </button>
</div>

<p-tabView [(activeIndex)]="activeIndex">
    <!-- Tabela de pedidos com header e body -->
    <p-tabPanel header="Pedidos">
        <span class="block mt-2 md:mt-0 p-input-icon-left mb-2">
            <i class="fa fa-search"></i>
            <input pInputText
              type="text"
              (input)="onGlobalFilter(dt, $event)"
              placeholder="Pesquisar..."
              class="w-full sm:w-auto"
            />
        </span>

        <p-table
            #dt
            [value]="pedidos"
            selectionMode="single"
            [(selection)]="pedido"
            [globalFilterFields]="['code', 'client.name', 'status', 'createdAt']"
            dataKey="code"
            responsiveLayout="stack"
            (onRowSelect)="onSelectRow($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th *ngIf="user.role === 'ADMIN' || user.role === 'SUPER'">Arquivo JSON</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pedido>
                <tr [pSelectableRow]="pedido">
                    <td>{{ pedido.code }}</td>
                    <td>{{ pedido.client.name }}</td>
                    <td>{{ pedido.createdAt | date : "dd/MM/yyyy" }}</td>

                    <!-- Status -->
                    <td class="custom-td">

                        <div class="status-style">
                            <span *ngIf="pedido.status === 'CREATED'"
                                class="status-badge p-2 border border-round items-center justify-center bg-green-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">REALIZADO</span>
                            </span>

                            <span *ngIf="pedido.status === 'PENDING'"
                                class="status-badge p-2 border border-round bg-orange-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">PENDENTE</span>
                            </span>

                            <span *ngIf="pedido.status === 'IN_PROGRESS'"
                                class="status-badge p-2 border border-round bg-yellow-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">EM ANDAMENTO</span>
                            </span>

                            <span *ngIf="pedido.status === 'CANCELED'"
                                class="status-badge p-2 border border-round bg-red-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">CANCELADO</span>
                            </span>

                            <span *ngIf="pedido.status === 'WAIT_ANSWER'"
                                class="status-badge p-2 border border-round bg-purple-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">AGUARDANDO</span>
                            </span>

                            <span *ngIf="pedido.status === 'DONE'"
                                class="status-badge bg-green-700 p-2 border border-round text-white">
                                <i class="pi pi-info-circle text-sm mr-1"></i>
                                <span class="text-xs">FINALIZADO</span>
                            </span>
                        </div>
                    </td>

                    <!-- Botoes de download e visualizar -->
                    <td *ngIf="user.role === 'ADMIN' || user.role === 'SUPER'">
                        <span class="p-column-title font-bold"></span>
                        <button pButton pRipple
                            type="button"
                            icon="pi pi-download"
                            (click)="gerarJSON(pedido);"
                            class="btn-download"
                            title="Baixar"
                        >
                        </button>
                        <span class="p-column-title font-bold"></span>
                        <button pButton pRipple
                            type="button"
                            icon="pi pi-eye"
                            (click)="verJSON(pedido);"
                            class="btn-view"
                            title="Visualizar"
                            >
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel header="Detalhes" [disabled]="!pedido">
        <label *ngIf="user.role === 'ADMIN' || user.role === 'SUPER'">Status: <strong [ngClass]="{'text-green-500': newStatus === 'Finalizado', 'text-purple-500': newStatus === 'Aguardando Resposta', 'text-yellow-500': newStatus === 'Em andamento', 'text-green-700': newStatus === 'Aprovado', 'text-red-500': newStatus === 'Cancelado', 'text-orange-600': newStatus === 'Pendente'}" for="">{{ newStatus }}</strong></label>

        <div *ngIf="user.role === 'ADMIN' || user.role === 'SUPER'" class="flex flex-col gap-2 mt-2">
            <select id="product-status" [(ngModel)]="selectedStatus"
                class="py-3 px-4 block border w-20 border-gray-400 rounded-lg text-sm
                        hover:border-blueDark focus:border-blueDark outline-none
                        focus:ring-blue-400 focus:ring-1 bg-white">
                <option value="Selecionar novo status" disabled selected>Selecionar novo status</option>
                <option *ngFor="let statusValue of status" [ngValue]="statusValue">
                    {{statusValue}}
                </option>
            </select>

            <button *ngIf="user.role === 'ADMIN' || user.role === 'SUPER'" pButton pRipple
                type="button"
                icon="pi pi-pencil"
                (click)="alterStatusPedido(pedido._id);"
                class="mr-1 mb-1"
                title="Alterar"
            >
            Alterar
            </button>
        </div>
        <div id="printable" #printable>
            <app-pedido-details [Pedido]="pedido" />
        </div>
    </p-tabPanel>

    <!-- Tabela de rascunhos -->
    <p-tabPanel header="Rascunhos" [disabled]="draftPedidos.length == 0">
        <p-table [value]="draftPedidos" selectionMode="single" [(selection)]="pedido" dataKey="code"
            (onRowSelect)="onSelectRow($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Excluir</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
                <tr [pSelectableRow]="pedido">
                    <td>{{ pedido.code }}</td>
                    <td>{{ pedido.client.name }}</td>
                    <td>{{ pedido.createdAt}}</td>
                    <td>
                        <button pButton pRipple label="" icon="pi pi-trash"
                            (click)="excluirDraft(pedido)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
<p-confirmDialog [breakpoints]="{ '600px': '90vw' }"></p-confirmDialog>
<p-toast position="bottom-center" life="4000" key="tst"></p-toast>
