<!-- Div de botões -->
<div class="flex justify-content-between ">
    <!-- Botão novo pedido -->
    <button pButton pRipple label="Novo Pedido" icon="pi pi-plus" class="mb-3" routerLink="/app/pedidos/novo">
    </button>

    <!-- Botão de imprimir -->
    <button pButton pRipple icon="pi pi-print" class="mb-3 p-button-rounded" (click)="downloadAsPdf()"
        [disabled]="!pedido">
    </button>
</div>

<p-tabView [(activeIndex)]="activeIndex">
    <!-- Tabela de pedidos com header e body -->
    <p-tabPanel header="Pedidos">
        <p-table [value]="pedidos" selectionMode="single" [(selection)]="pedido" dataKey="code"
            (onRowSelect)="onSelectRow($event)">

            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Status</th>
                    <!-- <th>Baixar</th>
                    <th>Visualizar</th> -->
                    <th>Arquivo JSON</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pedido>
                <tr [pSelectableRow]="pedido">
                    <td>{{ pedido.code }}</td>
                    <td>{{ pedido.client.name }}</td>
                    <td>{{ pedido.createdAt | date : "dd/MM/yyyy" }}</td>
                    <td class="custom-td">
                        <div class="status-style">
                            <span *ngIf="pedido.status === 'CREATED'"
                                class="status-badge p-2 border border-round items-center justify-center bg-green-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">AGUARDANDO</span>
                            </span>

                            <span *ngIf="pedido.status === 'PENDING'"
                                class="status-badge p-2 border border-round bg-orange-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">PENDENTE</span>
                            </span>

                            <span *ngIf="pedido.status === 'CANCELED '"
                                class="status-badge p-2 border border-round bg-red-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">CANCELADO</span>
                            </span>

                            <span *ngIf="pedido.status === 'WAIT_ANSWER'"
                                class="status-badge p-2 border border-round bg-purple-700 text-white">
                                <!-- <i class="pi pi-info-circle text-sm mr-1"></i> -->
                                <span class="text-xs">AGUARDANDO</span>
                            </span>

                            <span *ngIf="pedido.status === 'DONE'"
                                class="status-badge bg-green-700 p-2 border border-round text-white">
                                <i class="pi pi-info-circle text-sm mr-1"></i>
                                <span class="text-xs">FINALIZADO</span>
                            </span>
                        </div>
                    </td>


                    <!-- <td>
                        <span class="p-column-title font-bold"></span>
                        <button pButton pRipple type="button" label="Baixar JSON" (click)="gerarJSON(pedido);"></button>
                    </td>
                    <td>
                        <span class="p-column-title font-bold"></span>
                        <a pButton pRipple type="button" label="Visualizar JSON" (click)="verJSON(pedido);"></a>
                    </td> -->
                    <td>
                        <span class="p-column-title font-bold"></span>
                        <button pButton pRipple
                            type="button"
                            icon="pi pi-download"
                            (click)="gerarJSON(pedido);"
                            class="mr-1 mb-1"
                            title="Baixar"
                        >
                        </button>

                        <span class="p-column-title font-bold"></span>
                        <button pButton pRipple
                            type="button"
                            icon="pi pi-eye"
                            (click)="verJSON(pedido);"
                            class="mr-1 mb-1 hover:text-opacity-90"
                            title="Visualizar"
                            >
                        </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel header="Detalhes" [disabled]="!pedido">
        <div id="printable" #printable>
            <app-pedido-details [Pedido]="pedido" />
        </div>
    </p-tabPanel>

    <!-- Tabela de rascunhos -->
    <p-tabPanel header="Rascunhos" [disabled]="draftPedidos.length == 0">
        <p-table [value]="draftPedidos" selectionMode="single" [(selection)]="pedido" dataKey="code"
            (onRowSelect)="onSelectRow($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Excluir</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
                <tr [pSelectableRow]="pedido">
                    <td>{{ pedido.code }}</td>
                    <td>{{ pedido.client.name }}</td>
                    <td>{{ pedido.createdAt}}</td>
                    <td>
                        <button pButton pRipple label="" icon="pi pi-trash"
                            (click)="excluirDraft(pedido)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>
<p-confirmDialog [breakpoints]="{ '600px': '90vw' }"></p-confirmDialog>
<p-toast position="bottom-center" life="4000" key="tst"></p-toast>
