<div class="row mb-5">
    <div class="col-12">
        <h4>Especificações do Vidro</h4>

        <h6>Tipo do Vidro</h6>
        <div class="flex flex-row gap-5 justify-content-center">
            <button
                pButton
                pRipple
                label="Laminado"
                [ngClass]="{
                    'p-button-secondary':
                        pedidoService.pedido.balcony.glass.laminated
                }"
                (click)="tipoVidro('Laminado')"
            ></button>
            <button
                pButton
                pRipple
                label="Temperado"
                [ngClass]="{
                    'p-button-secondary':
                        pedidoService.pedido.balcony.glass.tempered
                }"
                (click)="tipoVidro('Temperado')"
            ></button>
        </div>
        <div class="grid p-fluid mt-3 align-bottom">
            <div class="col-12 md:col-6 ,">
                <h6>Cor do Vidro</h6>
                <p-dropdown
                    [options]="coresDoVidro"
                    placeholder="Selecione uma cor"
                    [showClear]="true"
                    [(ngModel)]="corDoVidro"
                    (ngModelChange)="changeCorVidro()"
                ></p-dropdown>
            </div>
            <div
                class="col-12 md:col-6 align-self-end"
                *ngIf="corDoVidro === 'Outro'"
            >
                <span class="p-float-label">
                    <input
                        type="number"
                        id="identiCor"
                        pInputText
                        [(ngModel)]="
                            pedidoService.pedido.balcony.glass.color.other
                        "
                    />
                    <label for="identiCor">Identificação da cor</label>
                </span>
            </div>
        </div>
        <h6>Espessura do Vidro</h6>
        <div class="flex flex-row gap-5 justify-content-center">
            <button
                pButton
                pRipple
                label="4+4 ou 8mm"
                [ngClass]="{
                    'p-button-secondary':
                        pedidoService.pedido.balcony.glass.thickness['8mm']
                }"
                (click)="espessuraVidro('8mm')"
            ></button>
            <button
                pButton
                pRipple
                label="5+5 ou 10mm"
                [ngClass]="{
                    'p-button-secondary':
                        pedidoService.pedido.balcony.glass.thickness['10mm']
                }"
                (click)="espessuraVidro('10mm')"
            ></button>
        </div>
    </div>
</div>
