<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/sacada/logo/soluca-logo.webp" alt="Solução Logo" class="my-5 w-20rem flex-shrink-0" />
        <div style="
            border-radius: 56px;
            padding: 0.3rem;
            background: linear-gradient(
                180deg,
                var(--primary-color) 10%,
                rgba(33, 150, 243, 0) 30%
            );
        ">
            <div class="w-full surface-card py-4 px-5 sm:px-8" style="border-radius: 53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Recuperar Senha
                    </div>
                    <div class="flex align-items-center justify-content-between pb-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" routerLink=""
                            style="color: var(--primary-color)">Voltar para Login
                        </a>
                    </div>
                </div>

                <p class="text-md text-gray-600 mb-3">
                    Nós enviaremos um e-mail com as instruções para resetar sua senha.
                    <br>
                    Por favor, verifique sua caixa de entrada e <b>spam</b>.
                </p>

                <div class="field-group">
                    <label for="tradingName" class="font-bold mb-4">E-mail<span
                            class="required">*</span></label><br>
                    <input id="tradingName" type="text" pInputText maxlength="70" name="tradingName" [(ngModel)]="email"
                        required class="w-full md:w-30rem mb-5">
                </div>

                <button pButton pRipple label="Enviar" 
                    (click)="sendResetPassword()"
                    class="w-full p-3 text-xl mt-3">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-center" life="4000" key="tst"></p-toast>
