<app-menu-step
    title="Revisão"
    step="Revisão"
    urlVideo="https://www.youtube.com/embed/u46qWPLSf6I?si=Wl21DMwyFBaEXemT"
></app-menu-step>

<app-pedido-details [Pedido]="pedidoService.pedido" class="index"></app-pedido-details>

<div class="flex justify-content-between mt-4 flex-row-reverse">
    <button
        pButton
        pRipple
        class="p-button-success"
        label="Enviar"
        icon="pi pi-send"
        iconPos="right"
        (click)="enviar()"
    ></button>
</div>
<p-toast life="4000" key="tst"></p-toast>

<app-loading></app-loading>
