<app-menu-step
    title="Dados do Pedido"
    step="1 - Dados do Pedido"
    urlVideo="https://www.youtube.com/embed/aPP1iIIU1QM?si=s61jT2ArrdxgxIfd"
></app-menu-step>

<div class="p-fluid p-formgrid grid">
    <div class="field col-12">
        <label htmlFor="nomeCliente">Nome Cliente *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.name"
            required
        />
    </div>
    <div class="field col-12 sm:col-4 lg:col-4">
        <label>CEP</label>
        <p-inputMask
            [(ngModel)]="pedidoService.pedido?.client.zipCode"
            (ngModelChange)="onChangeCep()"
            mask="99.999-999"
        ></p-inputMask>
    </div>
    <div class="field col-12 sm:col-6 lg:col-6">
        <label>Rua *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.address"
            required
        />
    </div>
    <div class="col-12">
        <p-selectButton
            [options]="[{ name: 'Loja' }, { name: 'Ap' }, { name: 'Casa' }]"
            [(ngModel)]="pedidoService.pedido?.client.apartment"
            [multiple]="false"
            optionLabel="name"
            optionValue="name"
            [style]="{ padding: 0 }"
        ></p-selectButton>
    </div>
    <div
        class="field col-12 sm:col-5"
        *ngIf="pedidoService.pedido?.client.apartment === 'Ap'"
    >
        <label>Nome Edfício</label>
        <input pInputText [(ngModel)]="pedidoService.pedido?.client.building" />
    </div>
    <div class="field col-12 sm:col-2 lg:col-2">
        <label>Número *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.num"
            required
            #numeroInput
        />
    </div>
    <div class="field col-12 sm:col-4">
        <label>Bairro *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.neighborhood"
            required
        />
    </div>
    <div class="field col-12 sm:col-5">
        <label>Cidade *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.city"
            required
        />
    </div>
    <div class="field col-12 sm:col-3">
        <label>Estado *</label>
        <input
            pInputText
            [(ngModel)]="pedidoService.pedido?.client.state"
            required
        />
    </div>
    <div class="field col-12 sm:col-5 lg:col-5">
        <label>Numero Orçamento</label>
        <input pInputText />
    </div>
</div>
<app-navigation-tabs-btn
    [showPrev]="false"
    (nextTab)="nextTab()"
    (prevTab)="prevTab()"
></app-navigation-tabs-btn>
<p-toast position="bottom-center" life="4000" key="tst"></p-toast>
