<div class="row">
    <div class="col-12">
        <h4>Verificar as sacadas do prédio</h4>

        <div class="flex flex-row gap-5 justify-content-center">
            <button
                pButton
                pRipple
                label="Definido"
                [ngClass]="{
                    'p-button-secondary': !pedido.passo2.defined.isDefined
                }"
                (click)="changeTip('defined')"
            ></button>
            <button
                pButton
                pRipple
                label="Melhor ajuste"
                [ngClass]="{
                    'p-button-secondary': !pedido.passo2.better_adjustment
                }"
                (click)="changeTip('better_adjustment')"
            ></button>
        </div>
        <div class="row text-center" *ngIf="pedido.passo2.defined.isDefined">
            <div class="col-12">
                <label class="text-left">Quantidade de vidros:</label><br />
                <input
                    class="col-3 md:col-1 mt-2 text-center"
                    pInputText
                    [(ngModel)]="pedido.passo2.defined.glass_quantity"
                    required
                />
            </div>
        </div>
        <div class="row mt-5">
            <p>
                <strong>Definido:</strong> quando já há sacadas instaladas no
                prédio e neste caso deve-se manter o padrão de número de folhas,
                cor do alumínio, espessura do vidro e cor do vidro.
            </p>

            <p>
                <strong>Melhor ajuste:</strong> quando não há sacadas existentes
                no prédio e as definições dos tamanhos dos vidros faremos da
                forma de se ter o melhor funcionamento.
            </p>
        </div>
    </div>
</div>
