<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/sacada/logo/soluca-logo.webp" alt="Solução Logo" class="my-5 w-20rem flex-shrink-0" />
        <div style="
            border-radius: 56px;
            padding: 0.3rem;
            background: linear-gradient(
                180deg,
                var(--primary-color) 10%,
                rgba(33, 150, 243, 0) 30%
            );
        ">
            <div class="w-full surface-card py-4 px-5 sm:px-8" style="border-radius: 53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Atualização de Senha
                    </div>
                    <div class="flex align-items-center justify-content-between pb-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" routerLink=""
                            style="color: var(--primary-color)">Voltar para Login
                        </a>
                    </div>
                </div>

                <p class="text-md text-gray-600 mb-3">
                    Atualize sua senha.
                </p>

                <div class="field-group">
                    <label for="password" class="font-bold">Senha</label><br>
                    <input id="password" type="password" pInputText name="password" 
                    [(ngModel)]="password" 
                    required class="w-full md:w-30rem mb-5">
                </div>
                <div class="field-group">
                    <label for="confirmPassword" class="font-bold">Confirmar Senha</label><br>
                    <input id="confirmPassword" type="password" pInputText name="confirmPassword" required
                        [(ngModel)]="confirmPassword"
                        class="w-full md:w-30rem mb-5">
                </div>

                <button pButton pRipple label="Enviar" (click)="submitPasswordUpdate()"
                    class="w-full p-3 text-xl mt-3">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-center" life="4000" key="tst"></p-toast>
