<p-toast life="4000" key="tst"></p-toast>
<p-tabView [(activeIndex)]="activeIndex" >

    <p-tabPanel header="Meus Orçamentos">
        <p-table
            [value]="orcamentos"
            selectionMode="single"
            [(selection)]="orcamento"
            dataKey="code"
            (onRowSelect)="onSelectRow($event)"
            responsiveLayout="stack">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-orcamento>
                <tr [pSelectableRow]="orcamento">
                    <td>
                        <span class="p-column-title font-bold">Código</span>
                        {{ orcamento.code }}
                    </td>
                    <td>
                        <span class="p-column-title font-bold">Nome</span>
                        {{ orcamento.client }}
                    </td>
                    <td>
                        <span class="p-column-title font-bold">E-mail</span>
                        {{ orcamento.emailClient }}
                    </td>
                    <td>
                        <span class="p-column-title font-bold">Valor</span>
                        {{ orcamento.price | currency : "BRL" }}
                    </td>
                    <td>
                        <span class="p-column-title font-bold"></span>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Gerar pedido"
                            (click)="gerarPedido(orcamento);"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>

    <p-tabPanel header="Novo Orçamento">
        <p-image class="w-12 my-3 sm:w-17 md:w-3 block md:block mx-auto relative"
            [ngStyle]="{'background-color': backgroundColor}"
            imageClass="object-fit-cover w-full block mx-auto"
            [preview]="true"
            src="../../../assets/img/Orcamento/sacada.jpeg">
        </p-image>

        <div class="flex flex-column gap-1 mb-3">
            <label for="cliente" class="font-bold">Cliente</label>
            <input
                pInputText
                id="cliente"
                (ngModelChange)="hiddeCalculeted()"
                name="cliente"
                [(ngModel)]="orcamento.cliente"
            />
        </div>

        <!-- Endereço -->
        <div class="flex flex-column gap-1 mb-3">
            <label for="address" class="font-bold">Endereço</label>
            <input
                pInputText
                id="address"
                placeholder="Rua, N°, Bairro, Cidade, Estado, CEP"
                (ngModelChange)="hiddeCalculeted()"
                [(ngModel)]="address"
                name="address"
            />
        </div>

        <app-title title="Valores"></app-title>
        <hr class="mb-3 mt-2">

        <form (ngSubmit)="onSubmit()" class="mt-4">
            <!-- LARGURA VIDRO -->
            <div class="flex flex-column gap-1 mb-3">
                <label for="wGlass" class="font-bold"> Largura Total (mm)</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="wGlass"
                    [(ngModel)]="orcamento.wGlass"
                    (ngModelChange)="hiddeCalculeted()"
                    mode="decimal"
                    name="wGlass"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="2"
                    placeholder="Largura em milímetros"
                />
            </div>
            <!-- ALTURA VIDRO -->
            <div class="flex flex-column gap-1 mb-3">
                <label for="ml" class="font-bold">Altura Total (mm)</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="ml"
                    [(ngModel)]="orcamento.h"
                    mode="decimal"
                    name="ml"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="2"
                    placeholder="Altura em milímetros"
                    (ngModelChange)="hiddeCalculeted()"
                />
            </div>
            <!-- KIT METRO LINEAR -->
            <div class="flex flex-column gap-1 mb-3">
                <label for="ml" class="font-bold">Valor do kit metro linear (R$) *</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="ml"
                    name="ml"
                    [(ngModel)]="orcamento.ml"
                    (ngModelChange)="hiddeCalculeted()"
                    mode="currency"
                    currency="BRL"
                />
            </div>
            <!-- VALOR DO VIDRO -->
            <div class="flex flex-column gap-1 mb-3">
                <label for="vd" class="font-bold">Valor do Vidro por m² (R$)</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="vd"
                    name="vd"
                    [(ngModel)]="orcamento.vd"
                    (ngModelChange)="hiddeCalculeted()"
                    mode="currency"
                    currency="BRL"
                />
            </div>
            <!-- META MARGEM -->
            <div class="flex flex-column gap-1 mb-5">
                <label for="mar" class="font-bold">Meta de margem (%)</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="mar"
                    name="mar"
                    [(ngModel)]="orcamento.mar"
                    (ngModelChange)="hiddeCalculeted()"
                    inputId="percent"
                    suffix="%"
                />
            </div>

            <!-- APARADORES -->
            <app-title title="Aparadores"></app-title>
            <hr class="mb-3 mt-2">
            <div class="flex">
                <div class="flex w-7 flex-column gap-2 mb-5">
                    <div class="flex">
                        <p-radioButton
                            name="aparador"
                            [value]="false"
                            [(ngModel)]="orcamento.aparador"
                            (ngModelChange)="hiddeCalculeted()"
                            inputId="aparator"
                        ></p-radioButton>
                        <label for="aparador" class="ml-2">Sem aparador</label>
                    </div>
                    <div class="flex">
                        <p-radioButton
                            name="apInox"
                            [value]="true"
                            (ngModelChange)="hiddeCalculeted()"
                            [(ngModel)]="orcamento.aparador"
                            inputId="apInox"
                        ></p-radioButton>
                        <label for="apInox" class="ml-2">Aparador de Inox</label>
                    </div>
                </div>
                <div
                    class="flex w-5 flex-column gap-1 mb-3"
                    *ngIf="orcamento.aparador"
                >
                    <label for="qtdAparador" class="font-bold"
                        >Quantidade
                    </label>
                    <p-inputNumber
                        [inputStyle]="{ width: '100%' }"
                        id="qtdAparador"
                        name="qtdAparador"
                        [(ngModel)]="orcamento.qtdAparador"
                        (ngModelChange)="hiddeCalculeted()"
                        [showButtons]="true"
                        [min]="1"
                        inputId="integeronly"
                    />
                </div>

            </div>

            <!-- SELANTE -->
            <app-title title="Selante"></app-title>
            <hr class="mb-3 mt-2">
            <div class="flex">
                <div class="flex w-7 flex-column gap-2 mb-5">
                    <div class="flex">
                        <p-radioButton
                            name="selante"
                            [value]="false"
                            [(ngModel)]="orcamento.selante"
                            (ngModelChange)="hiddeCalculeted()"
                            inputId="selante"
                        ></p-radioButton>
                        <label for="selante" class="ml-2">Sem selante</label>
                    </div>
                    <div class="flex">
                        <p-radioButton
                            name="selante2"
                            [value]="true"
                            (ngModelChange)="hiddeCalculeted()"
                            [(ngModel)]="orcamento.selante"
                            inputId="selante2"
                        ></p-radioButton>
                        <label for="selante2" class="ml-2">Selante</label>
                    </div>
                </div>
                <div
                    class="flex w-5 flex-column gap-1 mb-3"
                    *ngIf="orcamento.selante"
                >
                    <label for="qtdSelante" class="font-bold"
                        >Quantidade</label
                    >
                    <p-inputNumber
                        [inputStyle]="{ width: '100%' }"
                        id="qtdSelante"
                        name="qtdSelante"
                        (ngModelChange)="hiddeCalculeted()"
                        [(ngModel)]="orcamento.qtdSelante"
                        [showButtons]="true"
                        [min]="1"
                        inputId="integeronly"
                    />
                    <small class="text-bold">Um selante rende de 4-5 metros linear.</small>
                </div>
            </div>

            <!-- CHAPA SUPERIOR -->
            <app-title title="Chapa de correção Superior"></app-title>
            <hr class="mb-3 mt-2">
            <div class="flex w-7 flex-column gap-2 mb-5">
                    <div class="flex">
                        <p-radioButton
                            name="chapaSuperior"
                            [value]="false"
                            (ngModelChange)="hiddeCalculeted()"
                            [(ngModel)]="orcamento.chapaSuperior"
                            inputId="chapaSuperior"
                        ></p-radioButton>
                        <label class="ml-2">Sem chapa superior</label>
                    </div>

                    <div class="flex">
                        <p-radioButton
                            name="chapaSuperior"
                            [value]="true"
                            (ngModelChange)="hiddeCalculeted()"
                            [(ngModel)]="orcamento.chapaSuperior"
                            inputId="chapaSuperior"
                        ></p-radioButton>
                        <label class="ml-2">Com chapa superior</label>
                    </div>
                <!-- <p-image
                    class="w-4 sm:w-15rem md:w-10rem shadow-2 border-round"
                    imageClass=" object-fit-cover w-full shadow-2 border-round"
                    src="../../../assets/img/7-trilhos-superiores/aba-fora.jpg"
                    [preview]="true"
                    >
                </p-image> -->
            </div>

            <!-- CHAPA INFERIOR -->
            <app-title title="Chapa de correção Inferior"></app-title>
            <hr class="mb-3 mt-2">
            <div class="flex flex-column gap-3 mb-5">
                <div class="flex">
                    <p-radioButton
                        name="chapaInferior"
                        [value]="false"
                        (ngModelChange)="hiddeCalculeted()"
                        [(ngModel)]="orcamento.chapaInferior"
                        inputId="chapaInferior"
                    ></p-radioButton>
                    <label for="aparador" class="ml-2">Sem chapa inferior</label>
                </div>
                <div class="flex">
                    <p-radioButton
                        name="chapaInferior"
                        [value]="true"
                        (ngModelChange)="hiddeCalculeted()"
                        [(ngModel)]="orcamento.chapaInferior"
                        inputId="chapaInferior"
                    ></p-radioButton>
                    <label for="aparador" class="ml-2">Com chapa inferior</label>
                </div>
                <!-- <p-image
                    class="w-4 sm:w-15rem md:w-10rem shadow-2 border-round"
                    imageClass=" object-fit-cover w-full shadow-2 border-round"
                    src="../../../assets/img/7-trilhos-superiores/aba-dentro.jpg"
                    [preview]="true"
                >
                </p-image> -->
            </div>

            <!-- PROLONGADOR -->
            <app-title title="Prolongador"></app-title>
            <hr class="mb-3 mt-2">
            <div class="flex justify-content-between">
                <div class="flex flex-column gap-3">
                    <div class="flex">
                    <p-radioButton
                        name="prolongador"
                        [value]="false"
                        (ngModelChange)="hiddeCalculeted()"
                        [(ngModel)]="orcamento.prolongador"
                        inputId="prolongador"
                    ></p-radioButton>
                    <label for="prolongador" class="ml-2">Sem prolongador</label>
                    </div>
                    <div class="flex">
                    <p-radioButton
                        name="prolongador"
                        [value]="true"
                        (ngModelChange)="hiddeCalculeted()"
                        [(ngModel)]="orcamento.prolongador"
                        inputId="prolongador"
                    ></p-radioButton>
                    <label for="" class="ml-2">Com prolongador</label>
                    </div>
                </div>
              <div
                    class="flex w-5 flex-column gap-1 mb-5"
                    *ngIf="orcamento.prolongador"
                >
                    <label for="qtdProlongador" class="font-bold"
                        >Quantidade
                    </label>
                    <p-inputNumber
                        [inputStyle]="{ width: '100%' }"
                        id="qtdProlongador"
                        name="qtdProlongador"
                        [(ngModel)]="orcamento.qtdProlongador"
                        [showButtons]="true"
                        (ngModelChange)="hiddeCalculeted()"
                        [min]="1"
                        inputId="integeronly"
                    />
                    <small class="text-bold">Quantidade em metros. 1 = 1m</small>
                </div>
            </div>

            <button
                pButton
                pRipple
                class="w-full mt-3 mb-5"
                label="Calcular Sacada"
                type="submit"
            ></button>
        </form>

        <ng-container *ngIf="isCalculeted">
            <div class="flex flex-column gap-2 align-items-center text-lg">
                <app-title title="Resultados" class="mb-3" />
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Kit Solução:</span>
                        <span>{{ orcamento.kitAVista | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Custo Vidro:</span>
                        <span>{{ orcamento.valorVidro | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Custo Acessórios:</span>
                        <span>{{ orcamento.valorAcessorios | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Prolongador:</span>
                        <span>{{ orcamento.valorProlongador | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Custo Chapas:</span>
                        <span>{{ orcamento.valorChapas | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="flex justify-content-between w-full px-7">
                        <span>Área total</span>
                        <span>{{ orcamento.areaTotal.toFixed(2) }} <strong>m&#178;</strong></span>
                    </div>
                </ng-container>

                <div style="width: 92.5%;">
                    <hr class="w-full border-gray-300 mt-0 mb-0" style="z-index: 9999;">
                </div>

                <ng-container>
                    <div
                        class="flex justify-content-between font-bold w-full px-7"
                    >
                        <span>Custo Total:</span>
                        <span>{{ orcamento.custoTotalAVista | currency : "BRL" }}</span>
                    </div>
                </ng-container>
                <app-title title="Valor da Venda" class="my-3" />
                <ng-container>
                    <div
                        class="flex justify-content-between align-items-center w-full"
                    >
                        <span class="w-5">Margem de {{orcamento.mar}}%: </span>
                        <span class="w-3">{{
                            orcamento.valorFinalMargem | currency : "BRL"
                        }}</span>
                        <button
                            pButton
                            pRipple
                            class="w-4 p-button-text"
                            (click)="
                                orcamento.valorFinal =
                                    orcamento.valorFinalMargem
                            "
                            label="Selecionar"
                        ></button>
                    </div>
                </ng-container>
                <ng-container>
                    <div
                        class="flex justify-content-between align-items-center w-full"
                    >
                        <span class="w-5">Margem de {{orcamento.mar + 5}}%: </span>
                        <span class="w-3">{{
                            orcamento.valorFinalMargem2 | currency : "BRL"
                        }}</span>
                        <button
                            pButton
                            pRipple
                            class="w-4 p-button-text"
                            (click)="
                                orcamento.valorFinal =
                                    orcamento.valorFinalMargem2
                            "
                            label="Selecionar"
                        ></button>
                    </div>
                </ng-container>
                <ng-container>
                    <div
                        class="flex justify-content-between align-items-center w-full"
                    >
                        <span class="w-5">Margem de {{orcamento.mar + 10}}%: </span>
                        <span class="w-3">{{
                            orcamento.valorFinalMargem3 | currency : "BRL"
                        }}</span>
                        <button
                            pButton
                            pRipple
                            class="w-4 p-button-text"
                            label="Selecionar"
                            (click)="
                                orcamento.valorFinal =
                                    orcamento.valorFinalMargem3
                            "
                        ></button>
                    </div>
                </ng-container>
            </div>
            <div class="flex flex-column gap-1 mb-3 mt-4">
                <label for="vd" class="font-bold">Valor Final</label>
                <p-inputNumber
                    styleClass="w-full"
                    id="vd"
                    name="vd"
                    [(ngModel)]="orcamento.valorFinal"
                    mode="currency"
                    currency="BRL"
                />
            </div>
            <div class="flex flex-column gap-1 mb-3">
                <label for="cliente" class="font-bold"
                    >E-mail do Cliente:</label
                >
                <input
                    pInputText
                    id="cliente"
                    name="cliente"
                    [(ngModel)]="orcamento.send"
                />
            </div>
            <span class="text-center font-medium"
                >Estes valores podem sofrer alteração em virtude da escolha de
                acessórios e, nº de aberturas e tipo de trilho.</span
            >
            <button
                pButton
                pRipple
                class="w-full mt-3 mb-5"
                label="Enviar Orçamento"
                (click)="send()"
            ></button>
            <div #resultado>&#32;</div>
        </ng-container>
    </p-tabPanel>

    <p-tabPanel header="Detalhes" [disabled]="!selectedOrcamento">
        <div id="printable" #printable>
            <app-orcamento-details [Orcamento]="orcamento" />
        </div>
    </p-tabPanel>
</p-tabView>
